.app{
  margin: 0px 212px;
}
.header{
  display: flex;
  justify-content: space-between;
}
.img-logo{
  width: 200px;
}
.information{
  font-size: 12px;
  text-decoration: none;
  color: #112349;
}
.img-info{
  width: 20px;
}
.info-container{
  display: flex;
  justify-content: space-around;
  background: #ADC6CD;
  height: 25px;
}
.info{
  display: flex;
  align-items: center;
}
.category-nav{
  display: flex;
  justify-content: flex-end;
}
